{% extends "index.html" %}

{% block content %}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque optio praesentium quam esse, magni suscipit, pariatur aperiam architecto eveniet, recusandae quis deleniti qui ipsum cumque! Earum deserunt voluptatum sapiente iste.    </p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perferendis excepturi fugit laborum possimus! Hic deleniti sint, debitis nihil praesentium quia error amet, nulla eligendi accusamus voluptate, voluptatem sed quo.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolorem deserunt blanditiis perspiciatis incidunt eius odit perferendis suscipit cupiditate enim quis illo, voluptatem corporis! Minus qui, sed praesentium at quis.</p>
{% endblock content %}